@media (min-width: 1000px) {
  /* elemental styles */

  /* class styles */

  .main-article,
  .footer-nav {
    margin: 0 auto;
    padding: 5rem 0 0;
    max-width: 57.5rem;
    font-size: 2.5rem;
  }

  .copyright {
    margin: 0 2.5rem;
    padding: 5rem 0 1.25rem;
    font-size: 1.5rem;
  }

  /* utility class styles */
}
