/* fonts */

@font-face {
  font-family: "Fira Mono";
  src: url("/fonts/fira/eot/firamono-regular-webfont.eot");
  src: local("Fira Mono"),
    url("/fonts/fira/eot/firamono-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/fira/woff2/firamono-regular-webfont.woff2") format("woff2"),
    url("/fonts/fira/woff/firamono-regular-webfont.woff") format("woff"),
    url("/fonts/fira/ttf/firamono-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Mono";
  src: url("/fonts/fira/eot/firamono-medium-webfont.eot");
  src: local("Fira Mono Medium"),
    url("/fonts/fira/eot/firamono-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/fira/woff2/firamono-medium-webfont.woff2") format("woff2"),
    url("/fonts/fira/woff/firamono-medium-webfont.woff") format("woff"),
    url("/fonts/fira/ttf/firamono-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fira Mono";
  src: url("/fonts/fira/eot/firamono-bold-webfont.eot");
  src: local("Fira Mono Bold"),
    url("/fonts/fira/eot/firamono-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/fira/woff2/firamono-bold-webfont.woff2") format("woff2"),
    url("/fonts/fira/woff/firamono-bold-webfont.woff") format("woff"),
    url("/fonts/fira/ttf/firamono-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* box-sizing */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* elemental styles */

html,
body {
  background-color: #ffffff;
  font-size: 16px;
}

body {
  font-family: "Fira Mono", "Courier New", Courier, monospace;
  font-weight: 400;
  letter-spacing: 0.02rem;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56.25vw;
  background-attachment: fixed;
  background-color: #333333;
  background-color: rgba(51, 51, 51, 0.6);
  background-image: url("../img/bg/mjbondra--tablet.jpg");
  background-size: 100% auto;
}

header::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 56.25vw;
  opacity: 0.8;
  background-color: rgba(51, 51, 51, 0.6);
  background-image: url("../img/bg/screen.png");
}

main,
footer {
  position: relative;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

p,
li {
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 500;
}

/* class styles */

.header-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.header-image {
  position: relative;
  z-index: 2;
  border-radius: 50%;
  width: 20vw;
  background-color: #cccccc;
}

.header-text {
  position: relative;
  z-index: 2;
  padding-left: 2vw;
  font-size: 3vw;
  color: #ffffff;
}

.header-title {
  margin: 0;
}

.header-about {
  margin: 0;
  width: 55vw;
}

.main-article,
.footer-nav {
  margin: 0 4vw;
  padding: 8vw 0 0;
  font-size: 4vw;
}

.main-article-title:first-child,
.footer-nav-title:first-child {
  margin-top: 0;
}

.main-article-paragraph:last-child {
  margin-bottom: 0;
}

.copyright {
  margin: 0 4vw;
  padding: 8vw 0 2vw;
  text-align: right;
  font-size: 2.4vw;
}

/* utility class styles */
